/*
 * _lib_oli_lang
 * multilingual stylesheet for individual documents
 * first created 09/07/2001
 */

@page { size : landscape ; margin : 1in }


body
{
	background-color: #ffffff ; 	/* white */
	color: #000000 ;		/* black */
	font-family: "Arial", "Verdana" ;
	font-size: 13px ;
}

table
{
    border: 1px solid #000000;
	margin-top: 8px ;
	width: 100% ;
}

td
{
	font-size: 13px ;
	padding: 5px ;
	vertical-align: top ;
}

/* ENGLISH */
.englishtitle
{
	background-color: #bebebe ;
	font-weight: bold ;
	text-align: center ;
}
.english
{
	background-color: #bebebe ;
}

/* FRENCH */
.frenchtitle
{
	background-color: #dedede ;
	font-weight: bold ;
	text-align: center ;
}
.french
{
	background-color: #dedede ;
}

/* GERMAN */
.germantitle
{
	background-color: #fefefe ;
	font-weight: bold ;
	text-align: center ;
}
.german
{
	background-color: #fefefe ;
}

.section
{
	background-color: #336699;
	color: #ffffff ;
}

/* MAIN TITLE */
.title
{
	color: #0050B2 ;
	font-size: 19px ;
	font-weight: bold ;
	text-align: left ;
}
