/* _lib_oli_doc.css */  /* 26/09/2001 */

/******************/
/*   HTML TAGS    */
/******************/
body {
	background-color: #fefbe7 ; /* light yellow */
	color: #000000 ;
	font-family: Verdana, Arial, Times, 'Times New Roman' ;
	margin: 3% 3% ; /* margin: 3% (first) for top and bottom; 3% (second) for left and right */
	text-align: justify ;
}
code {
	font-family: 'courier new', courier, serif ;
	font-size: 110% ;
}
h1 {
	border-bottom: solid 1px #cccccc;
	font-size: 140%;
	text-align: left ;
}
h2 {
	border-bottom: solid 1px #cccccc;
	font-size: 125%;
	margin-bottom: 0px;
	margin-top: 2em ;
}
h3 {
	border-bottom: solid 1px #cccccc;
	font-size: 115%;
	margin-bottom: 1% ;
}
h4, h5, h6 {
	font-size: 100%;
	margin-bottom: 0px ;
}
hr {
	color: #cccccc;
	height: 1px ;
}
pre {
	background: #eeeeee;
	font-family: 'courier new', courier, serif ;
	font-size: 110% ;
	margin-bottom: 1em;
	margin-left: 0px;
	margin-top: 1em;
	padding-bottom: 5pt;
	padding-left: 5pt;
	padding-right: 5pt;
	padding-top: 5pt ;
}

/************/
/*  TABLES  */
/************/
table {
    width: 100%;
}
td {
	vertical-align: top ;
}
th {
	vertical-align: top ;
}

/***********/
/*  LINKS  */
/***********/
a:active {
	color: #ff0000 ; /*red*/
}
a:link {
	color: #003399 ; /*dark blue*/
}
a:visited {
	color: #993300 ; /*brown*/
}
a:hover {
	color: #ff3300 ; /*ligh red*/
}

/********************/
/*  MY OWN CLASSES  */
/********************/
.clsAnchor {
	background-color: #eeeeee ;
	border-bottom: solid 1px #000000 ;
	border-top: solid 1px #000000 ;
	margin-top: 0.5% ;
	padding: 0.5% ;
	text-align: center ;
}
.clsBrown {
	color: #800000 ;
}
.clsBrownBold {
	color: #800000 ;
	font-weight: bold ;
}
.clsBrownBoldUnder {
	color: #800000 ;
	font-weight: bold ;
	text-decoration: underline ;
}
.clsDescr {
	color: #003366 ;
}
.clsImgCaption {
	font-size: 70% ;
	font-style: italic ;
	font-weight: bold ;
}
.clsLiteral {
	font-family: 'courier new' ;
}
.clsNote {
	background-color: #eeeeee;
	margin-bottom: 4pt;
}
.clsRed {
	color: #cc0000 ;
}
.clsRedBold {
	color: #cc0000 ;
	font-weight: bold ;
}
.clsRedBoldUnder {
	color: #cc0000 ;
	font-weight: bold ;
	text-decoration: underline ;
}
.clsSrc {
	color: #666666 ;
}
.clsTop
{
	margin: 1%;
	text-align: right ;
}

/************************/
/*  CLASSES FOR TABLES  */
/************************/
.clsEven {
	background-color: #cccccc
}
.clsOdd {
	background-color: #eeeeee
}

/**************************/
/*  CLASSES FOR MENU BAR  */
/**************************/
.clsMenuBar {
	left: 0px ;
	position: absolute ;
	top: 0px ;
	width: 100% ;
}
.clsMenuButton {
	background-color: #aabbbb ; /* 99aabb */
	border-bottom: #ffffff 2px groove ;
	border-left: #ffffff 0px groove ;
	border-right: #ffffff 2px groove ;
	border-top: #ffffff 2px groove ;
	cursor: hand ;
	font-family: Arial ;
	font-size: 10pt ;
	padding-bottom: 0px ;
	padding-left: 12px ;
	padding-right: 12px ;
	padding-top: 0x ;
}
.clsMenuItem {
	background: #aabbbb ; /* 99aabb */
	border-bottom: #ffffff 2px groove ;
	border-left: #ffffff 2px groove ;
	border-right: #ffffff 2px groove ;
	border-top: #ffffff 0px groove ;
	cursor: hand ;
	font-family: Arial ;
	font-size: 10pt ;
	padding-bottom: 0px;
	padding-left: 12px ;
	padding-right: 12px;
	padding-top: 0px ;
}
.clsMenuTable {
	width: 100% ;
}
A.clsMenuLink:link {
	color: #000000 ;
}
A.clsMenuLink:visited {
	color: #222222 ;
}
A.clsMenuLink:active {
	color: #444444 ;
}
A.clsMenuLink:hover {
	color: #dddddd ;
}
