/* _lib_oli_quadrilingual.css */  /* 12/09/2001 */

/***************/
/*  HTML TAGS  */
/***************/
body {
	background-color: #fefbe7;
	color: #000000;
	font-family: verdana;
	font-size: 80%;
	margin: 3% 3%;
}
hr {
	color: #cccccc;
	height: 1px;
}
A:link {
	color: #cc6600;
	text-decoration: none;
}
A:active {
	color: #cc6600;
	text-decoration: none;
}
A:visited {
	color: #cc6600;
	text-decoration: none;
}
table {
	width: 100%;
}
td {
	/*font-size: 70%;*/
	vertical-align: top;
}
th {
	/*font-size: 70%;*/
	vertical-align: top;
}

/****************/
/*  MY CLASSES  */
/****************/
.clsTableTitle {
	background-color: #1d3349;
	color: #ffffff;
	padding: 0.7%;
	/*font-size: 80%;*/
	font-weight: bold;
}
.clsFirstColTitle {
	background-color: #85a6b3;
	border-bottom: 1px solid #000000;
	border-left: 1px solid #000000;
	color: #ffffff;
	font-size: 110%;
	font-weight: bold;
	padding: 1.5%;
}
.clsCenterColTitle {
	background-color: #85a6b3;
	border-bottom: 1px solid #000000;
	border-left: 1px solid #000000;
	border-right: 1px solid #000000;
	color: #ffffff;
	font-size: 110%;
	font-weight: bold;
	padding: 1.5%;
}
.clsLastColTitle {
	background-color: #85a6b3;
	border-bottom: 1px solid #000000;
	border-right: 1px solid #000000;
	color: #ffffff;
	font-size: 110%;
	font-weight: bold;
	padding: 1.5%;
}
.clsEnglish {
	background-color: #efecd7;
	border-left: 1px solid #000000;
	border-bottom: 1px solid #000000;
	color: #993300;
	padding: 1.5%;
}
.clsFrench {
	background-color: #fdf5e6;
	border-left: 1px solid #000000;
	border-right: 1px solid #000000;
	border-bottom: 1px solid #000000;
	color: #993300;
	padding: 1.5%;
}
.clsGerman {
	background-color: #ffefd5;
	border-right: 1px solid #000000;
	border-bottom: 1px solid #000000;
	color: #993300;
	padding: 1.5%;
}
.clsJapanese {
	border-right: 1px solid #000000;
	border-bottom: 1px solid #000000;
	color: #993300;
	padding: 1.5%;
}
.clsTableRow {
	border: 40px solid black;
}