/* multilingual.css */

.pubDateCell {
  background:       #ffffff;
  text-align:       center;
}
.titleCell {
  background:       #525D76;
  color:            #ffffff;
}
.titleTable {
  border:           2px solid #525D76;
}
.langCell {
  background:       #DEB887;
  border:           1px solid #CD853F;
  border-left:      2px solid #CD853F;
  color:            #8B4513;
  font-weight:      bold;
}
.langTable {
  border-bottom:    1px solid #CD853F;
}
.textCell {
  background:       #F5DEB3;
  border:           1px solid #CD853F;
  border-right:     2px solid #CD853F;
}
.emptyCell {
  background:       #ffffff;
  border-bottom:    1px solid #CD853F;
  border-top:       1px solid #CD853F;
}