/* project.css: css for index.html document of a project */
body {
    background:     #ffffff; /* white */
    color:          #000000; /* black */
    font-family:    Arial, sans-serif;
    font-size:      90%;
    text-align:     left;
}
h1, h2, h3 {
    color:          darkblue;
}
hr  {
    height:         2px;
    width:          100%;
}
table {
    border:         1px solid #999999;
    text-align:     left;
    width:          100%;
}
td {
    border:         1px solid #999999;
    font-family:    Arial, sans-serif;
    font-size:      90%;
    vertical-align: top;
}
th {
    background:     #ededed;
    border:         1px solid #999999;
    font-family:    Arial, sans-serif;
    font-size:      90%;
    vertical-align: top;
}
