/* multilingual.css */

.pubDateCell {
  background: #ffffff;
  text-align: center;
  width: 12%;
}
.titleCell {
  background: #525d76;
  color: #ffffff;
  width: 88%;
}
.titleTable {
  background-color: #525d76;
  border: 2px solid #525d76;
  /* next 2: same as cellspacing */
  border-collapse: separate;
  border-spacing: 0px;
  /* same as cellpadding */
  padding: 5px;
  text-align: left;
}
.langCell {
  background: #deb887;
  border: 1px solid #cd853f;
  border-left: 2px solid #cd853f;
  color: #8b4513;
  font-weight: bold;
  text-align: left;
  width: 15%;
}
.langTable {
  border-bottom: 1px solid #cd853f;
}
.textCell {
  background: #f5deb3;
  border: 1px solid #cd853f;
  border-right: 2px solid #cd853f;
  text-align: left;
  width: 85%;
}
.emptyCell {
  background: #ffffff;
  border-bottom: 1px solid #cd853f;
  border-top: 1px solid #cd853f;
  text-align: left;
  width: 100%;
}

table {
  width: 100%;
}
