body {
	background-color: #fffff2;
	font-family: verdana;
	font-size: 70%;
	margin: 3% 3%;
}
h1 {
	color: #336699;
	font-size: 150%;	
	text-align: center;
}
h2 {
	background-color: #ffebcd;
	border: 2px outset #ffebcd;
	color: #000000;
	font-size: 130%;
	padding: 0.6%;
	margin: 0 0 0.2%;
}
td {
	font: 11px/13px verdana, geneva, arial, sans-serif;
	background: #ffffcc;
	color: #000000;
	border: 1px solid black;
	padding: 10px;
}
th {
	font: 11px/13px verdana, geneva, arial, sans-serif;
	font-weight: bold;
	background: #ffccaa;
	color: #000000;
	border: 1px solid black;
	padding: 10px;
}
.bordermother {
	border: 1px solid black;
	border-spacing: 0;
	padding: 0;
	width: 100%;
}
.top-banner {
	background-color: #dddddd;
	border-bottom: 1px solid #545454;
	border-top: 1px solid #545454;
	padding: 0.6%;
	text-align: right;
}
.toc {
	background-color: #eeeeee;
	border: 1px solid #999999;
	padding: 1%;
}
a[name] {
	text-decoration: none;
}
hr {
	margin-bottom: 2%;
}