/* multilingual.css */
#main {
    margin:             1cm 2cm;
}
#timestamp {
    color:              blue;
    font-family:        Verdana;
    font-size:          12px;
    font-weight:        bold;
}
.blackdivider {
    background:         rgb(000,000,000);
}
.reddivider {
    background:         rgb(264,000,000);
}
.divider {
    background:         rgb(232,235,236);
    color:              #4A4A4A;
    page-break-before:  always;
}
.title {
    font-family:        verdana;
    font-size:          20px;
    font-weight:        bold;
    text-align:         center;
}
td {
    font-weight:        bold;
    padding-top:        5px;
    padding-bottom:     5px;
    padding-right:      5px;
    padding-left:       5px;
}
li {
    margin-left:        -20px;
}
.english {
    background:         rgb(248,251,189);
    color:              #E34B60;
}
.french {
    background:         rgb(165,219,248);
    color:              rgb(0,0,64);
}
.german {
    background:         rgb(196,231,184);
    color:              rgb(0,128,64);
}
.another{
    background:         rgb(250, 240, 230);
    color:              rgb(0,0, 0);
}
