/* global.css */
body {
  background:             #fff;
  color:                  #000;
  font-family:            verdana,arial,helvetica,sans-serif;
  font-size:              80%;
  margin:                 2% 5% 2% 5%;
}
h1 {
  color:                  #CC6600;
  font-size:              180%;
  text-align:             center;
}
h2 {
  font-size:              140%;
}
hr {
  background:             #000;
  color:                  #000;
  height:                 2px;
  margin-bottom:          0.5%;
  margin-top:             0.5%;
  width:                  100%;
}
td {
  background:             #EFEFCE;
  font-size:              80%;
}
th {
  background:             #CECF9C;
}
.curDoc {
  background:           #336699;
  color:                #fff;
  font-weight:          bold;
}
.error {
  background:           #f8c8c8;
  border:               1px solid #cc9999;
  padding:              0.5%;
}
.footer {
  text-align:             center;
}
.navbar {
  background:             lavender;
  border-bottom:          2px solid #000;
  border-top:             2px solid #000;
  padding-bottom:         0.5%;
  padding-top:            0.5%;
  text-align:             center;
}
.readonly {
  background:             #eee;
}
.specialChar {
  background:             #ddddff;
  border:                 1px solid #369;
  font-family:            serif;
  font-size:              130%;
  font-weight:            bold;
  margin-bottom:          1%;
  padding:                1%;
  width:                  10%;
}