/* _lib_oli_multilingual.css */  /* 21/09/2001 */

table {
	width: 100%;
}

/***********************/
/*  FOR ALL LANGUAGES  */
/***********************/
.clsTableTitle {
	background-color: #1d3349 ;
	color: #ffffff ;
	padding: 0.7% ;
	font-size: 80% ;
	font-weight: bold ;
}

/**********************************/
/*  FOR MORE THAN 2 LANGUAGES     */
/*  (TRI-, QUADRI-, ETC. LINGUAL) */
/**********************************/
.clsFirstColTitle {
	background-color: #85a6b3 ;
	border-bottom: 1px solid #000000 ;
	border-left: 1px solid #000000 ;
	color: #ffffff;
	font-size: 80% ;
	font-weight: bold ;
	padding: 1.5% ;
}
.clsCenterColTitle {
	background-color: #85a6b3 ;
	border-bottom: 1px solid #000000 ;
	border-left: 1px solid #000000 ;
	border-right: 1px solid #000000 ;
	color: #ffffff;
	font-size: 80% ;
	font-weight: bold ;
	padding: 1.5% ;
}
.clsLastColTitle {
	background-color: #85a6b3 ;
	border-bottom: 1px solid #000000 ;
	border-right: 1px solid #000000 ;
	color: #ffffff;
	font-size: 80% ;
	font-weight: bold ;
	padding: 1.5% ;
}
.clsEnglish {
	background-color: #efecd7 ;
	border-left: 1px solid #000000 ;
	border-bottom: 1px solid #000000 ;
	color: #993300 ;
	padding: 1.5% ;
}
.clsFrench {
	background-color: #fdf5e6 ;
	border-left: 1px solid #000000 ;
	border-right: 1px solid #000000 ;
	border-bottom: 1px solid #000000 ;
	color: #993300 ;
	padding: 1.5% ;
}
.clsGerman {
	background-color: #ffefd5 ;
	border-right: 1px solid #000000 ;
	border-bottom: 1px solid #000000 ;
	color: #993300 ;
	padding: 1.5% ;
}
.clsAnother {
	border-right: 1px solid #000000 ;
	border-bottom: 1px solid #000000 ;
	color: #993300 ;
	padding: 1.5% ;
}
.clsTableRow {
	border: 40px solid black ;
}

/*****************************************/
/*  FOR EXACTLY 2 LANGUAGES (BILINGUAL)  */
/*****************************************/
.clsLeftColTitle {
	background-color: #85a6b3 ;
	border-bottom: 1px solid #000000 ;
	border-left: 1px solid #000000 ;
	color: #ffffff;
	font-size: 80% ;
	font-weight: bold ;
	padding: 1.5% ;
}
.clsRightColTitle {
	background-color: #85a6b3 ;
	border-bottom: 1px solid #000000 ;
	border-left: 1px solid #000000 ;
	border-right: 1px solid #000000 ;
	color: #ffffff;
	font-size: 80% ;
	font-weight: bold ;
	padding: 1.5% ;
}
.clsLeft {
	background-color: #fdf5e6 ;
	border-left: 1px solid #000000 ;
	border-bottom: 1px solid #000000 ;
	color: #993300 ;
	font-weight: bold ;
	padding: 1.5% ;
}
.clsRight {
	background-color: #ffefd5 ;
	border-left: 1px solid #000000 ;
	border-right: 1px solid #000000 ;
	border-bottom: 1px solid #000000 ;
	color: #993300 ;
	padding: 1.5% ;
}
